body {
    background: #ffffff;
}

.firstHeader {
    color: #132D38;
}
.secondHeader {
    color: #204C5E;
}

.thirdHeader {
    color: #2C6A85;
}

.link {
    color: #26C872;
}

p {
    color: #060E12 ;
}
.article {
    background: #dddddd;
    
}
.footer{

    margin-top: 30px;
}